<!DOCTYPE html>
<html lang="en">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/enter-style2.css' %}">

<head>
<title>ChalkSlate</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


</head>
<body>



<header>
<h1>
  <span> <a href="/chalkslate/home"><img style="width: 120px; height: 80px;"
      alt="logo"
 src="{% static 'management/images/logo.gif' %}"/></a>


  </span>____________________ChalkSlate.com______________________ <span><a href="https://www.facebook.com/kowshiqueroy" target="blank"><img style="width: 60px; height: 60px;"
      alt="fb"
 src="{% static 'management/images/fb.png' %}"/></a> </span></h1>


</header>

<section>
  <nav>
    <ul>
      <li><a href="/chalkslate/home"><button>HOME</button></a></li>
      <li><a href="/chalkslate/home/notice-board"><button>NOTICE</button></a></li>
      <li><a href="/chalkslate/home/signin"><button>SIGN IN</button></a></li>
        <li><a href="/chalkslate/home/contact-us"><button>CONTACT US</button></a></li>
        <li><a href="/chalkslate/home/register"><button>REGISTER</button></a></li>
        <li><a href="/chalkslate/home/guide"><button>GUIDE</button></a></li>
        <li><a href="/chalkslate/home/about-us"><button>ABOUT US</button></a></li>

    </ul>
  </nav>

  <article>
    <p style="color:White">Welcome to ChalkSlate</p>
<h1>THIS IS A PROJECT FOR DEAR PIAS SIR</h1>
    <h2>developed by CHALKSLATE.COM Team</h2>

  </article>
</section>

<footer>
  <p>All rights reserved by ChalkSlate.com Team</p>
</footer>

</body>
</html>
