{% extends 'base.html' %}


{% block override_0 %}
<center>
<h2s>THIS SITE WILL MAINTAIN ALL YOUR EDUCATION MANAGEMENT WIDGETS</h2s>

<br> <br>
<li>Communication between Institute, Tutor, Student</li>
<li>Notice/Advertisement of Institute Publish</li>
<li>Dynamic cheap and works like Institute web management</li>
<br> <br>
<h2>Up-Coming </h2>
<li>Automated attendance</li>
<li>Rag report</li>
<li>Result Publish</li>
<li>ANd so on......</li>
<br><br>
<h2>our respected users</h2>
    <br>
    {% for i in all %}
      {{i.institute_name}}
    <br>
    <br>

    {% endfor %}
    <br><br>






    </center>

{% endblock %}
