<!DOCTYPE html>
<html lang="en">

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'management/enter-style.css' %}">

<head>
    <meta charset="UTF-8">
    <title>ChalkSlate</title>
</head>
<body>

<center><h1 style="color:White">ChalkSlate.com</h1>
    <p style="color:gray">An Educational Solution</p>

    <img style="width: 245px; height: 247px;"
alt="Image description"
 src="{% static 'images/logo.gif' %}"/>

    <a href="/chalkslate/home"> <h2  style="background-color:white">ENTER WEBSITE</h2> </a>
</center>

</body>
</html>
