{% extends 'base.html' %}

{% block override_0 %}

{% for student_application in student_page_obj %}

<!--    <li> {{ student_application.student.chalkslate_user.first_name }} {{ student_application.student.chalkslate_user.last_name }} </li>-->

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="card" style="width: 15rem;">
          <img src="{{ student_application.student.picture.url }}" class="card-img-top" >
          <div class="card-body">
            <h5 class="card-title">
                {{ student_application.student.chalkslate_user.first_name }} {{ student_application.student.chalkslate_user.last_name }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ student_application.note }}</h6>
            <h6 class="card-subtitle mb-2 text-muted">{{ student_application.posted }}</h6>
          </div>
          <button class="btn btn-outline-success" type="submit" role="button" name="accept_button" value="{{student_application.student.id}}"> Accept </button>
          <button class="btn btn-outline-danger" type="submit" role="button" name="reject_button" value="{{student_application.student.id}}"> Reject </button>
        </div>
    </form>

{% endfor %}


<div class="pagination">
    <span class="step-links">
        {% if student_page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ student_page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ student_page_obj.number }} of {{ student_page_obj.paginator.num_pages }}.
        </span>

        {% if student_page_obj.has_next %}
            <a href="?page={{ student_page_obj.next_page_number }}">next</a>
            <a href="?page={{ student_page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

<!--{% for student_application in student_application_list %}-->

<!--&lt;!&ndash;    <li> {{ student_application.student.chalkslate_user.first_name }} {{ student_application.student.chalkslate_user.last_name }} </li>&ndash;&gt;-->

<!--    <form action="" method="post" enctype="multipart/form-data">-->
<!--        {% csrf_token %}-->
<!--        <div class="card" style="width: 15rem;">-->
<!--          <img src="{{ student_application.student.picture.url }}" class="card-img-top" >-->
<!--          <div class="card-body">-->
<!--            <h5 class="card-title">-->
<!--                {{ student_application.student.chalkslate_user.first_name }} {{ student_application.student.chalkslate_user.last_name }}-->
<!--            </h5>-->
<!--            <h6 class="card-subtitle mb-2 text-muted">{{ student_application.note }}</h6>-->
<!--            <h6 class="card-subtitle mb-2 text-muted">{{ student_application.posted }}</h6>-->
<!--          </div>-->
<!--          <button class="btn btn-outline-success" type="submit" role="button" name="accept_button" value="{{student_application.student.id}}"> Accept </button>-->
<!--          <button class="btn btn-outline-danger" type="submit" role="button" name="reject_button" value="{{student_application.student.id}}"> Reject </button>-->
<!--        </div>-->
<!--    </form>-->

<!--{% endfor %}-->

{% endblock %}